@model List<WebApiValidationDemo.Mvc.Lib.Models.User>

@{
    ViewBag.Title = "All";
}

<h2>All Users</h2>

@Html.ActionLink("Add a User", "Add")

<table>
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Birth Date
            </th>
            <th>
                Username
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.BirthDate.ToShortDateString()
                </td>
                <td>
                    @item.Username
                </td>
            </tr>
        }
    </tbody>
</table>